# TBA2102: Introduction to Business Analytics

AY2020/21 Semester 2
Tutorial 2 Assignment: R Basics
Tutorial session: Tue 2 Feb 2021 8.30pm

Page 1 of 6

Instructions:
>  * Prepare the answers for Section 1 for discussion during Tutorial 2 in Week 4.
>  * The answers for questions in Section B will be discussed during Tutorial 3 in week 5.

In this tutorial, we will review and apply concepts related to the Basics of R.

*Section 1: R Basics (Answers to be discussed in class)
R objects are assigned for each question 1a, 1b... 2a, 2b, etc... so their values are independent
across questions.*

1. What is the output for each of the following sets of codes?

In [2]:
x<-"2"
class(x)

[1] "character"

In [4]:
x<-4
y<-10
z<-y/x
class(z)

[1] "numeric"

In [5]:
y<-c(20,36,10)
sort(y, decreasing = TRUE)  #Sort: values in ascending or descending fashion

[1] 36 20 10

In [6]:
y<-c(20,36,10,10,10)
order(y, decreasing = FALSE) #Order: index/position of values. R index starts at 1 NOT 0

[1] 3 4 5 1 2

In [21]:
y<-c(20,36,10,10,10)
x<-c(2,3,1,4,5)
order(x, y, decreasing = FALSE) 
# sort  x asc then y asc
# return index to pos
# result of y shown, not x

[1] 3 1 2 4 5

In [22]:
y<-c(20,36,10,10,10)
x<-c(2,3,1,4,5)
z<-data.frame(cbind(y,x))
z
z[order(z$x, decreasing = TRUE),]

  y  x
1 20 2
2 36 3
3 10 1
4 10 4
5 10 5

  y  x
5 10 5
4 10 4
2 36 3
1 20 2
3 10 1

In [23]:
size<-c("medium", "small", "big", "big")
size_fac<- factor(size, levels=c("small","medium","big"), ordered=TRUE)
size_fac[1] < size_fac[3]

[1] TRUE

In [25]:
C <- c(1,3,6,8,0,10)
C[2:4]
class(C)

[1] 3 6 8

[1] "numeric"

In [38]:
df<-data.frame(x=c("a","b","c","d","e"), y=c(1,4,6,8,10), stringsAsFactors=FALSE)
df<-df[order(df$y, decreasing = TRUE),]
df
print(paste("class of col x: ",class(df$x)))
print(paste("class of col x: ",class(df$y)))

  x y
5 e 10
4 d  8
3 c  6
2 b  4
1 a  1

[1] "class of col x:  character"
[1] "class of col x:  numeric"

In [47]:
print(paste("select row 3 to 5, col y ",df[c(3:5),"y"])) 
df$y<-as.integer(df$y)
print(paste("coerced class of col x: ",class(df$y)))

[1] "select row 3 to 5, col y  6" "select row 3 to 5, col y  4"
[3] "select row 3 to 5, col y  1"
[1] "coerced class of col x:  integer"

In [48]:
subset(df, y>6, select=x)

  x
5 e
4 d

## 2. For each question part below, what is the missing code (“?”) required to return the output?
## If you think “?” can be blank, then type “blank” for your answer.

`vol <- c(109,59,56,97,86,40,39)`
`**?** (vol, decreasing = TRUE)`
[1] 1 4 5 2 3 6 7

In [49]:
vol <- c(109,59,56,97,86,40,39)
order(vol, decreasing = TRUE)

[1] 1 4 5 2 3 6 7

`vol <- **?** *vol`
`vol`
[1] 218 118 112 194 172 80

In [50]:
vol <- 2 *vol
vol

[1] 218 118 112 194 172  80  78

`shop1<-list(c("A", "B", "C"), c(30,50), c(500,1000))`
`**?** (shop1) <- c("Product", "Cost", "Qty")`
`shop1[["Qty"]]`
[1] 500 1000

In [51]:
shop1<-list(c("A", "B", "C"), c(30,50), c(500,1000))
names(shop1) <- c("Product", "Cost", "Qty")
shop1[["Qty"]]

[1]  500 1000

shop1$**?**
[1] "A" "B" "C" 

shop1$**?**
[1] 30

In [63]:
shop1$Product
shop1$Cost

[1] "A" "B" "C"

[1] 30 50

`x<- c("w","w","e","w")
y<-factor(x)
? (y)<-c("east","west")
y`
[1] west west east west
levels: east west

In [65]:
x<- c("w","w","e","w")
y<-factor(x)
levels(y)<-c("east","west")
y

[1] west west east west
Levels: east west